* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: 'Helvetica Neue', sans-serif;
    }
body {
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
.calculator {
      width: 320px;
      background-color: #1c1c1c;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    }
.screen{
        background-color: #0e0d12;
        border-radius: 5px;
    }
.display {
      color: white;
      font-size: 48px;
      text-align: right;
      padding: 20px 15px;
      min-height: 80px;
      word-wrap: break-word;
    }
.btn {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      padding: 3px;
    }
button {
      height: 60px;
      font-size: 24px;
      border: none;
      border-radius: 50%;
      background-color: #333;
      color: white;
      cursor: pointer;
      transition: background 0.2s;
    }
button:active {
      background-color: #444;
    }
.operator {
      background-color: #ff9f0a;
      color: white;
    }
.operator:active {
      background-color: #d98200;
    }
.function {
      background-color: #a5a5a5;
      color: black;
    }
.zero {
      grid-column: span 2;
      border-radius: 30px;
      text-align: left;
      padding-left: 24px;
    }

    